//yesubc.com (c) Sunil Shrestha <yesubc@gmail.com>
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff'),
    url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light_0-webfont.eot');
    src: url('../fonts/montserrat-light_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-light_0-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-light_0-webfont.woff') format('woff'),
    url('../fonts/montserrat-light_0-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-light_0-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Entypo Icon Font */
@font-face {
  font-family: 'entypo-selected';
  src: url("../fonts/entypo-selected.eot");
  src: 
      url("../fonts/entypo-selected.eot?#iefix") format('embedded-opentype'), 
      url("../fonts/entypo-selected.woff") format('woff'), 
      url("../fonts/entypo-selected.ttf") format('truetype'), 
      url("../fonts/entypo-selected.svg#entypo-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'tmtmaldives';
    src:    url('../fonts/tmtmaldives.eot?7onoel');
    src:    url('../fonts/tmtmaldives.eot?7onoel#iefix') format('embedded-opentype'),
        url('../fonts/tmtmaldives.ttf?7onoel') format('truetype'),
        url('../fonts/tmtmaldives.woff?7onoel') format('woff'),
        url('../fonts/tmtmaldives.svg?7onoel#tmtmaldives') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tmtmaldives' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-next:before {
    content: "\e903";
}
.icon-bed:before {
    content: "\e904";
}
.icon-calendar-icons:before {
    content: "\e905";
}
.icon-clock:before {
    content: "\e906";
}
.icon-customerservice:before {
    content: "\e907";
}
.icon-down-arrow:before {
    content: "\e908";
}
.icon-envelope:before {
    content: "\e909";
}
.icon-facebook:before {
    content: "\e90a";
}
.icon-heart:before {
    content: "\e90b";
}
.icon-leftarrow:before {
    content: "\e90c";
}
.icon-maleuser:before {
    content: "\e90d";
}
.icon-mappointer:before {
    content: "\e90e";
}
.icon-navigate:before {
    content: "\e90f";
}
.icon-phone:before {
    content: "\e910";
}
.icon-pin:before {
    content: "\e911";
}
.icon-socialnetwork:before {
    content: "\e912";
}
.icon-speechbubble:before {
    content: "\e913";
}
.icon-star:before {
    content: "\e914";
}
.icon-sticker:before {
    content: "\e915";
}
.icon-thermometer:before {
    content: "\e916";
}
.icon-twitter:before {
    content: "\e917";
}
.icon-youtube:before {
    content: "\e918";
}
.icon-bullhorn:before {
    content: "\e900";
}
.icon-cart:before {
    content: "\e901";
}
.icon-credit-card:before {
    content: "\e902";
}